@model IEnumerable<ConsultorioMedico.Models.Consulta>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="background-color: #e9ff75; height: 3.6rem;">
    Consultas Agendadas
</h1>


<table class="table table-striped" style="background-color: #f3ffb2;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.paciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pacienteCidadeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pacienteUFID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.medico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.medicoEspecialidadeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.medicamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.qtdeMedicamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valorConsulta)
            </th>
            <th style="text-align: end;">
                <button type="button" class="btn" style="background-color: #061728; color: white" onclick="window.location.href='@Url.Action("Create")'">Agendar Nova Consulta</button>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.paciente.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pacienteCidadeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pacienteUFID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.medico.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.medicoEspecialidadeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cid.descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.medicamento.descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.qtdeMedicamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.valorConsulta)
                </td>
                <td style="text-align: right;">
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-outline-warning">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-outline-primary">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-outline-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="alert alert-info" style="background-color: #e6ffe9; color: #025a09; border-color: #004e06;">
<strong style="color: black;">Total das Consultas: </strong>
<strong style="color: #025a09;">
    <span style="font-weight: bold; color: #004e06;">R$</span>
    <span style="font-weight: bold; color: #025a09;">@ViewBag.TotalConsultas.ToString("N2")</span>
</strong>
</div>