@model IEnumerable<ConsultorioMedico.Models.Medico>

@{
    ViewData["Title"] = "Index";
}

<h1 style="background-color: #7b72ff; height: 3.6rem;">
    Médicos Cadastrados
</h1>


<table class="table table-striped" style="background-color: #938df769;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.especialidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UFID)
            </th>
            <th style="text-align: end;">
                <button type="button" class="btn" style="background-color: #061728; color: white" onclick="window.location.href='@Url.Action("Create")'">Cadastrar Nova Cidade</button>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.especialidade.descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.endereco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cidade.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UFID)
                </td>
                <td style="text-align: right;">
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-outline-warning">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-outline-primary">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-outline-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
